
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
h1 {
  color: MediumSeaGreen;
  font-family: 'Exo', sans-serif;
}
p {
  font-family: 'Baloo Paaji', cursive;
}
