@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
h1 {
  color: MediumSeaGreen;
  font-family: 'Exo', sans-serif
}
p {
  font-family: 'Gloria Hallelujah', cursive;
}
h2 {
  color: Indigo;
  font-family: 'Architects Daughter', cursive;
}
div {
  background-color: black;
  padding: 20px;
  color: white;
  font-family: 'Exo', sans-serif;
  width: 500px;
  border: 3px white dashed;
  margin: auto;
}
body {
  background-image: url(http://apod.nasa.gov/apod/image/1609/M8-8-25-16-webMillerWalker2048.jpg)
}
